html,
body {
    height: 100%;
    overflow: hidden;
    cursor: none;
    color: #fff;
}

.background-content {
    background: url(./images/dark-wood-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h4 {
    text-decoration: underline;
}

.row h5 {
    text-align: center;
}

h1 {
    text-decoration: underline;
}

p {
    font-weight: bold;
}

.box {
    border: 1px solid #fff;
}

.underline {
    text-decoration: underline;
}

.content {
    height: 100%;
    color: white;
    padding: 2%;
}

.transparent-text {
    color: transparent;
}

.smaller-text {
    font-size: 1em;
}

.menu-4-content {
    color: white;
    padding: 2%;
}

.container {
    font-size: 20px;
}

.logotext {
    font-size: 5em;
    text-align: center;
}

.center-text {
    text-align: center;
}

.categoryText {
    /*    color: yellow;*/
    font-size: 1.5em;
    border-bottom: 1px solid #fff;
    /*    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;*/
}

.topBorder {
    border-top: 10px solid coral;
}

.menuItemContents {
    padding: 2%;
    background-color: black;
    opacity: 0.8;
    margin: 2%;
}

.menu-item-margin {
    margin: 2%;
}

span {
    font-size: 1.4em;
}

#float-right {
    float: right;
}

.variety-meal-container {
    color: #fff;
}

.menu-1-animation {
    animation: menu-1-Frames ease 10s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
    -webkit-animation: menu-1-Frames ease 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/
    -moz-animation: menu-1-Frames ease 10s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards;
    text-align: center;
    background-color: white;
}

@-webkit-keyframes menu-1-Frames {
    0% {
        opacity: 0;
        -webkit-transform: translate(-500px, 0px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(30px, 0px);
    }
    80% {
        -webkit-transform: translate(-10px, 0px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}

.menu-1-burger-animation img {
    width: 456px;
    height: 372px;
    border-radius: 20%;
    margin-left: -15px;
}

.menu-1-burger-animation {

    animation: menu-1-burger-frames linear 6s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: menu-1-burger-frames linear 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
}

.menu-1-burger-animation img {
}

@keyframes menu-1-burger-frames {
    0% {
        transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

@-webkit-keyframes menu-1-burger-frames {
    0% {
        -webkit-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        -webkit-transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

.menu-2 {
    background: url(images/brick-background.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    height: -webkit-fill-available;

}

.menu-3 {
    background: url(images/brick-background.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    height: -webkit-fill-available;

}

.menu-3 img{
    /* width: 50%; */
    /* height: 30%; */
    margin: auto;
}

.menu-2 img {
    width: 30%;
    height: 30%;
    margin: auto;
}

.coke-bottle {
    -webkit-animation: coke-can-animation linear 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    height: 40%;
    width: 20%;
}

.coke-can {
    -webkit-animation: coke-can-animation linear 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes coke-can-animation {
    0% {
        -webkit-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        -webkit-transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

.fanta-can {
    -webkit-animation: fanta-can-animation linear 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes fanta-can-animation {
    0% {
        -webkit-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        -webkit-transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

.sprite-can {
    -webkit-animation: sprite-can-animation linear 1s;
    -webkit-animation-iteration-count: 1;
    /* -webkit-transform-origin: 50% 50%; */
}

@-webkit-keyframes sprite-can-animation {
    0% {
        -webkit-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        -webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        -webkit-transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        -webkit-transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        -webkit-transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

ul#transit {
    list-style: none;
}

ul#transit li {
    /* List styling */
    float: left;
    position: relative;
    width: 100%;
    height: 20%;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-left: 10px;
    border-left: 1px solid #8c8c8c;
    border-top: 1px solid #8c8c8c;
    border-right: 1px solid #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
}

ul#transit li:first-child {
    margin-left: 0;
}


/* First li element no margin */

.sphere {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    -webkit-transform: scale(0);
    -webkit-animation: loading 20.5s linear forwards infinite;
}

.box-meal-items {
    padding: 3%;
    min-height: 350px;
    min-width: 100%;
    max-height: 350px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    max-width: 100%;
    /*    background-color: aqua;*/
    /* -webkit-transform: scale(0); */
    /* -webkit-animation: loading 20.5s linear forwards infinite; */
}


/* Main Layers */

#layer1 {
    background: url(images/pakora.jpg) no-repeat;
    background-size: cover;
    -webkit-animation-delay: 0.3s;
}

#layer2 {
    background: url(images/pastie.jpg) no-repeat;
    background-size: cover;
    -webkit-animation-delay: 0.6s;
}

#layer3 {
    background: url(images/beef-burger.jpg) no-repeat;
    background-size: cover;
    -webkit-animation-delay: 0.9s;
}

#layer4 {
    background: url(images/battered-sausage.jpg) no-repeat;
    background-size: cover;
    -webkit-animation-delay: 1.2s;
}

#menu-4-layer-1 {
    background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(images/pakora.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation-delay: 0.3s;
}

#menu-4-layer-2 {
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(images/battered-sausage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    -webkit-animation-delay: 0.9s;
}

#menu-4-layer-3 {
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(images/goujons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    -webkit-animation-delay: 1.2s;
}

@-moz-keyframes loading {
    0% {
        -moz-transform: scale(0, 0);
    }
    25% {
        -moz-transform: scale(1, 1);
    }
    50% {
        -moz-transform: scale(1, 1);
    }
    75% {
        -moz-transform: scale(0, 0);
    }
    100% {
        -moz-transform: scale(0, 0);
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: scale(0, 0);
    }
    25% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1, 1);
    }
    75% {
        -webkit-transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(0, 0);
    }
}